.rpn-calculator-app-main {
    .rpn-calculator-component {
        position: relative;
        height: 500px;
        width: 700px;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;

        .input-output-container {
            height: 10%;
            width: 100%;
            background-color: darkgrey;

            .input-output-display {
                float: right;
                text-align: right;
                height: 80%;
                width: 80%;
                margin: 10px 5px 0 5px;
                font-size: 24px;
                border: 1px solid lightgray;
                background-color: white;
            }
        }

        .keypad-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            button {
                height: 40px;
                width: 60px;
                float: left;
                margin: 5px;
                border: 1px solid gray;
                text-align: center;
                font-size: 18px;
                color: white;
            }
            .btn-number {
                background: dimgray;
            }
            .btn-basic-oper {
                background: orange;
            }
            .btn-adv-oper {
                background: cadetblue;
            }
            .btn-enter {
                background: green;
            }
            .btn-cancel {
                background: brown;
            }
            .btn-long {
                width: 130px;
            }
            .key-set {
                overflow-y: auto;
                width: 210px;
            }
            .operator-key-set {
                width: 70px;
            }
        }
    }
    .error-boundary-container {
        display: flex;
        justify-content: center;
    }
    .error-msg {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: red;
    }
    .error-container {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
}