.rpn-calculator-app-main {
    .rpn-calculator-component {
        position: relative;
        height: 500px;
        width: 700px;
        border: 2px solid black;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        .input-output-container {
            height: 10%;
            width: 100%;
            background-color: darkgrey;

            .input-output-display {
                float: right;
                text-align: right;
                height: 80%;
                width: 80%;
                margin: 10px 5px 0 5px;
                font-size: 24px;
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid lightgray;
                background-color: white;
            }
        }

        button {
            height: 30px;
            width: 50px;
            float: left;
            margin: 5px;
            border: 1px solid gray;
            text-align: center;
        }

        .basic-operations {
            width: 200px;
        }
    }
    .error-boundary-container {
        display: flex;
        justify-content: center;
    }
    .error-msg {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: red;
    }
    .error-container {
        display: flex;
        justify-content: center;
        margin: 5px;
    }
}